.wy-side-nav-search {
    background-color: #d10000
}

.wy-nav-side{
    background: #000000
}
body{
    color: #000000;
}

.rst-versions .rst-current-version {
    background-color: #000000;
}

.rst-versions {
    background-color: #000000
}
